{% extends "bootstraped.html" %}

{% block TitleBlock %}
Edit Patient
{% endblock %}

{% block MainBlock %}
<h1>Edit Patient</h1>

<span>{{ errors.general }}</span>

<form method="post" action="/user">
    <div className="col-md-4 form-line">
        <div className="form-group">
            <label htmlFor="forename">Forename</label>
            <input type="text" class="form-control" name="forename" value="{{ user.forename}}" />
            <span class="errors">{{errors.forename}}</span>
        </div>
    </div>
    <div className="col-md-4 form-line">
        <div className="form-group">
            <label htmlFor="forename">Surname</label>
            <input type="text" class="form-control" name="surname" value="{{ user.surname}}" />
            <span class="errors">{{errors.surname}}</span>
        </div>
    </div>
    <div className="col-md-6 form-line">
        <div className="form-group">

            <label htmlFor="sex">Sex</label>

            {% include "include/sex_radio_button.html" %}

            <span class="errors">{{errors.sex}}</span>
        </div>
    </div>
    <div className="col-md-6 form-line">
        <div className="form-group">
            <label htmlFor="dob">Dob</label>
            <input type="date" class="form-control" name="dateOfBirth" value="{{ user.dateOfBirth}}" />
            <span class="errors">{{errors.dateOfBirth}}</span>
        </div>
    </div>

    <h2>Prescription</h2>
    <a href="/user/prescription/new">Add Prescription</a>
    <table class="table table-bordered">
    {% for p in user.prescriptions %}
    <tr>
        <td class="d-none d-sm-table-cell"><a href='/user/edit?id='>{{p.medicineId}}</a></td>
        <td>{{ p.startDateStr}}</td>
        <td class="d-none d-sm-table-cell">{{ p.amount }}</td>
        <td class="d-none d-sm-table-cell">{{ p.name }}</td>
    </tr>
    {% endfor %}
    </table>

    <input type="hidden" name="id" value="{{ user.id }}"></input>
    <input type="submit" name="Cancel" value="Cancel"></input>
    <input type="submit" name="Submit" value="Save"></input>
</form>
{% endblock %}