{% extends "bootstraped.html" %}

{% block TitleBlock %}
This the edit page
{% endblock %}


{% block MainBlock %}
<h1>Edit User</h1>

<span>{{ errors.general }}</span>




Show other errors++++++
<ul>
    {% for item in errors %}
       <li>{{ item }}</li>
    {% endfor %}
 </ul>
 -----------------
<span class="errors">{{errors.id}}</span>
Show other errors=========


<form method="post" action="/user">
    <div className="col-md-6 form-line">
        <div className="form-group">
            <label htmlFor="forename">Forename</label>
            <input type="text" class="form-control" name="forename" value="{{ user.forename}}" />
            <span class="errors">{{errors.forename}}</span>
        </div>
    </div>
    <div className="col-md-6 form-line">
        <div className="form-group">
            <label htmlFor="forename">Surname</label>
            <input type="text" class="form-control" name="surname" value="{{ user.surname}}" />
            <span class="errors">{{errors.surname}}</span>
        </div>
    </div>
    <div className="col-md-6 form-line">
        <div className="form-group">
            <label htmlFor="forename">Sex</label>
            <input type="text" class="form-control" name="sex" value="{{ user.sex}}" />
            <span class="errors">{{errors.sex}}</span>
        </div>
    </div>

    <h2>Show Prescriptions</h2>
    <table class="table table-bordered">
    {% for p in user.prescriptions %}
    <tr>
        <td class="d-none d-sm-table-cell"><a href='/user/edit?id='>{{p.medicineId}}</a></td>
        <td>{{ p.startDate}}</td>
        <td class="d-none d-sm-table-cell">{{ p.amount }}</td>
        <td class="d-none d-sm-table-cell">{{ p.name }}</td>
    </tr>
    {% endfor %}
    </table>

    <input type="hidden" name="id" value="{{ user.id }}"></input>
    <input type="button" name="Cancel" value="Cancel"   onclick="window.history.back();" input>
    <input type="submit" name="Submit" value="Save"></input>
</form>
{% endblock %}