{% extends "bootstraped.html" %}

{% block TitleBlock %}
This the edit page
{% endblock %}


{% block MainBlock %}
<h1>New Patient</h1>

<span>{{ errors.general }}</span>

<form method="post" action="/user/new">
    <div className="col-md-6 form-line">
        <div className="form-group">
            <label htmlFor="forename">Forename</label>
            <input type="text" class="form-control" name="forename" value="{{ user.forename}}" />
            <span class="errors">{{errors.forename}}</span>
        </div>
    </div>
    <div className="col-md-6 form-line">
        <div className="form-group">
            <label htmlFor="forename">Surname</label>
            <input type="text" class="form-control" name="surname" value="{{ user.surname}}" />
            <span class="errors">{{errors.surname}}</span>
        </div>
    </div>
    <div className="col-md-6 form-line">
        <div className="form-group">
            <label htmlFor="sex">Sex</label>

            {% include "include/sex_radio_button.html" %}

            <span class="errors">{{errors.sex}}</span>
        </div>
    </div>
    <div className="col-md-6 form-line">
        <div className="form-group">
            <label htmlFor="dateOfBirth">Dob</label>
            <input type="date" class="form-control" name="dateOfBirth" value="{{ user.dateOfBirth}}" />
            <span class="errors">{{errors.dateOfBirth}}</span>
        </div>
    </div>

    <input type="button" name="Cancel" value="Cancel"   onclick="window.history.back();" input>
    <input type="submit" name="Submit" value="Create Patient"></input>
</form>
{% endblock %}